.stepper-btn{
    width: 26px;
    height: 26px;
    background: #F8D9D7 0% 0% no-repeat padding-box;
    border-radius: 13px;
    opacity: 1;
    justify-content: center;
    align-content: center;
    align-self: center;
    display: inline-flex;
    user-select: none;
    box-sizing: border-box;
}
.stepper-btn:hover{
    border: 1px solid #B52026;
}
.stepper-btn:active{
    opacity: 0.7;
}
.stepper-btn:disabled{
    opacity: 0.25;
}
.stepper-txt{
text-align: center;
padding: 5px;
font: Bold 14px/20px Open Sans;
letter-spacing: 0;
color: #202020;
opacity: 1;
min-width: 20px;
text-align: center;
display: inline-block;
}
.stepper-btn-img{
width: 10px;
height: 10px;
opacity: 1;
align-self: center;
}
.right-align{
    float: right;
}